<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/application.html}">

<section layout:fragment="content">

    <table class="table table-bordered  table-hover mt-3">
        <thead>
        <tr>
            <th class="col-1">ID</th>
            <th class="col-3">Website address</th>
            <th>Last check date</th>
            <th class="col-2">Response code</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="url : ${urls}" th:object="${url}">
            <td th:text="*{getId()}"></td>
            <td>
                <a th:href="@{/urls/{id}(id=*{getId()})}" th:text="${#strings.abbreviate(url.getName(), 30)}"></a>
            </td>
            <td th:text="${#temporals.format(url.getCreatedAt(), 'dd/MM/yyyy HH:mm')}"></td>
        </tr>
        </tbody>
    </table>

<!--    <nav aria-label="Page navigation" th:if="${#lists.size(page)}">-->
<!--        <ul class="pagination justify-content-center mt-5">-->
<!--            <li th:class="'page-item' + ${currentPage <= 1 ? ' disabled' : ''}">-->
<!--                <a class="page-link" th:href="@{/articles(page=${currentPage - 1})}">Previous</a>-->
<!--            </li>-->
<!--            <li th:each="page : ${pages}" th:class="'page-item' + ${currentPage == page ? ' active' : ''}">-->
<!--                <a class="page-link" th:href="@{/articles(page=${page})}" th:text="${page}"></a>-->
<!--            </li>-->
<!--            <li th:class="'page-item' + ${currentPage >= #lists.size(pages) ? ' disabled' : ''}">-->
<!--                <a class="page-link" th:href="@{/articles(page=${currentPage + 1})}">Next</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </nav>-->
</section>

</html>